menu "Amlogic commands"

config AML_RPMB
	depends on OPTEE
	bool "support RPMB set in bootargs"
	default y
	help
	  Support RPMB set in bootargs.

config AML_STORE_WRAPPER
	depends on AML_STORAGE
	bool "wrapper for store"
	default y
	help
	  based on AML_STORAGE
	  read/write don't care bad blocks

config AML_STORE_WRAPPER
	depends on AML_STORAGE
	bool "wrapper for store"
	default y
	help
	  based on AML_STORAGE
	  read/write don't care bad blocks

config AML_IMG_READ
	depends on AML_STORAGE
	bool "image read"
	default y
	help
	  based on AML_STORAGE
	  read image without specify size

config AML_DEFENV
	bool "aml defenv_without"
	default y
	help
	  support reserv env from c array

config BOOTLOADER_CONTROL_BLOCK
	bool "bootloader control block support"
	default n
	help
	  used for recovery and the bootloader to talk to each other

config CMD_BOOTCTOL_AVB
	bool "avb cmd"
	default n
	help
	  support avb related cmds

config CMD_RSVMEM
	bool "rsvmem cmd"
	default y
	help
	  support rsvmem cmd

config CMD_DDR_D2PLL
	bool "d2pll cmd"
	default n
	help
	  support d2pll cmd

config CMD_DDR_TEST
	bool "ddr test cmd"
	default y
	help
	  support ddr_test cmd

config CMD_OS_IDENT
	bool "os_ident"
	default y
	help
	  Ident OS type

config CMD_REBOOT
	bool "CMD_REBOOT"
	depends on MMC_FTS || NAND_FTS
	help
	 CMD_REBOOT support.

config CMD_FACTORY_BOOT
	bool "CMD_FACTORY_BOOT"
	depends on MMC_FTS || NAND_FTS
	help
	 CMD_FACTORY_BOOT support.

config CMD_USB_MODE
	bool "CMD_USB_MODE"
	depends on MMC_FTS || NAND_FTS
	help
	 This function uses to set USB mode from fts partition.
	 The kernel will parse this parameter and config the USB driver.

config MMC_FTS
	bool "MMC_FTS"
	default n
	help
	 MMC_FTS support.

config NAND_FTS
	bool "NAND_FTS"
	default n
	help
	 NAND_FTS support.

config IMG_SECURE_CHECK_SZ
	int "secure boot size limitation"
	default 0
	help
	  Check if boot image size is larger than
	  the secure boot size limitation

config G_AB_SYSTEM
	bool "support ab boot for bootloader system"
	depends on CMD_BOOTCTOL_AVB
	default n
	help
	  support ab system operation

config CMD_GET_CHIPTYPE
	bool "get chip type in u-boot"
	default n
	help
	  get chip type and save to command line

config CMD_AML_MISC
	bool "classify amlogic misc command"
	depends on MMC_FTS || NAND_FTS
	default y
	help
	  classify amlogic misc command to the fixed file

config ENABLE_CHARGER_DETECTION
	bool "enable and disable charger detection"
	default n
	help
	   only allow booting when charger is detected as DCP

config AML_ROBUST
	bool "envs for robust upgrade"
	depends on AML_STORAGE
	default y
	help
		"envs for robust upgrade like defendkey"

endmenu
