menu "Chromecast"

config CHROMECAST
	bool "Libs or modifications for Chromecast"
	default n

if CHROMECAST

config CHROMECAST_PARTITION
	bool "Chromecast partitions"
	default y
	select PARTITIONS
	select EFI_PARTITION

config CHROMECAST_FACTORY
	bool "Support Chromecast factory partition"
	default y
	select PARTITIONS

config CHROMECAST_AB
	bool "Chromecast A/B partition"
	default y

endif

endmenu
